$arial-font-stack: Arial, Helvetica, sans-serif;

h1 {
    color: #3369;
    font-family: $arial-font-stack;
    font-size: 250%;
}

h2, h3 {
    color: #444;
    font-family: $arial-font-stack;
    font-weight: lighter;
}

input[type="text"], button{
    color: #333;
    font-family: Cambria, Georgia, serif;

    body {
        margin: 2em;
    }
}

* {
    font-family: $arial-font-stack;
}